@import "media";

#barre {
    margin-top: 10vh;
    background-image: url(../images/SergeyPesterev-min.jpeg);
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    overflow-y: auto;
    text-align: center;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    transform: translateX(0%);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @include sm {
        visibility: hidden;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imageAvatar {
        width: 140%;
        border-radius: 50%;
        margin: 3rem 0 4rem 0;
    }

    a {
        display: flex;
        justify-content: center;
    }

    .logo {
        margin-top: 20px;
        width: 100px;
        height: 50px;
        background-image: url(../logo/logoRD.jpg);

        &:hover {
            border: #fbad27 7px solid;
        }
    }
}

nav .menuBarre {
    height: 50%;
}

footer .footerBarre {
    height: 25%;
}

#menuBarre ul {
    padding-left: 0;
    padding-top: 50px;
}

.menuElt-actualites {
    font-size: 1.1rem;
    font-weight: bolder;
}

.menuElt {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;

}

.menuElt:hover {
    background-color: #ce880f;
    // background-size: auto 40px;
    border-radius: 3px;
}

#menuBarre a {
    color: #ffffff;
    text-decoration-line: none;
}
  
.reseaux {
    display: flex;
    padding: 0;
    justify-content: center;

    a {
        color: #fbad27;
        margin: 0.5rem 0.5rem;
        font-size: 2rem;
    }
}


.date {
    color: #fbad27;
    font-size: 0.5rem;
    margin: 1rem 0;
}