$font-principal : Monserrat,
sans-serif;
$font-secours : Verdana,
sans-serif;


:root {
    --yellow: #fbad27;
    --yellowBraun: #d79a04;
    --yelloLight: #ffd87b;
    --braun: #9d5200;
    --white: #ffffff;
    --fontBraun: #6d4e19;
    --gray-clear: #888;
    --orange: #f96a08;
    --prune: #44182f;
    --text: #333;
    --background: #fffefc;
    --hint: #999;
    --border: #ddd;
    
}